page-view-bank {
    .main-head-h2 {
        font-size: 19px;
        font-weight: 500;
    }
    .card-md {
        border-radius: 3%;
        -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 1px 1px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 1px 1px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .card-title {
        border-bottom: #8f8d8d solid 1px;
        h1 {
            font-size: 20px;
            font-weight: 600;
        }
    }
    .empty-media-class {
        font-size: 20px;
    }
    .media-class {
        img {
            width: 300px;
        }
        hr {
            margin-top: 0px;
        }
        h2 {
            font-size: 20px;
            margin-bottom: 5px;
            font-weight: 600;
        }
    }
}