<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>{{cardData.card_type}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-card class="card-class">
    <div>
      <ion-item>
        <ion-avatar item-start>
          <img src="{{cardData.bank_logo}}" alt="bank logo">
        </ion-avatar>
        <h1 class="bank-name">{{cardData.bank}}</h1>
        <ion-note>{{cardData.created_at | date}} {{cardData.created_at | date:'shortTime'}}</ion-note>
      </ion-item>

      <div text-center>
        <p class="card-number">{{cardData.card_no}}</p>
      </div>

      <div>
        <ion-row>
          <ion-col col-10>
            <h3>
              <span  class="card-title">
                Expire at:
              </span>
              <span class="card-expire">
               {{cardData.expire_at | date: 'MM/yyyy'}}
              </span></h3>
          </ion-col>
          <ion-col>
            <img src="{{cardData.provider_logo}}" alt="provider-logo">
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-card>

  <ion-card class="card-backside">
    <div class="card-strip">
    </div>
    <div class="cvv-strip">
      <p>CVV</p>
    </div>
    <h2 class="cvv-number">{{cardData.cvv}}</h2>

    <div>
      <h2 class="phone-no-h2">Registered Phone No</h2>
      <p class="phone-no-p" *ngIf="cardData.phone">{{cardData.phone}}</p>
      <p class="phone-no-p" *ngIf="!cardData.phone">You have not added Phone No.</p>
    </div>
  </ion-card>

  <ion-item text-center>
    <button class="view-pin-btn" ion-button round (click)="viewPIN()">View PIN</button>
  </ion-item>

</ion-content>