page-bank-details {
    .searchbar-md .searchbar-input {
        border-radius: 40px;
    }
    .button-add-pass {
        background: linear-gradient(to bottom right, #5c2774, #335cc5, #637ffd);
        width: 150px;
    }
    .item-md .item-button {
        height: 37px;
    }
    .error-state-p {
        margin-top: -8px;
    }
    .item-md h2 {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 2px;
    }
    .error-state {
        margin-top: 120px;
    }
    .card-md p{
        font-size: 20px;
    }
}