<ion-header no-border>
  <ion-navbar transparent>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-navbar>
  <ion-item>
    <h1>
      <strong>Passbooks</strong>
    </h1>
    <p *ngIf="!isPresent">No entries found</p>
    <p *ngIf="isPresent">{{bankData.length}} entries found</p>
    <button color="dark" ion-button item-end icon-only clear (click)="goToAddBankPage()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-item>
</ion-header>


<ion-content>

  <div *ngIf="!isPresent" padding text-center class="error-state">
    <h3> You have not added any passbook</h3>
    <p class="error-state-p">Start adding new passbook details</p>
    <ion-item text-center>
      <button (click)="goToAddBankPage()" class="button-add-pass" ion-button round>Let's start adding</button>
    </ion-item>
  </div>


  <div *ngIf="isPresent">
    <ion-card class="card-class" *ngFor="let item of bankData; let i=index">
      <div (click)="goToViewBankPage(item)" (press)="presentActionSheet(item.id, item)">
        <ion-item>
          <ion-avatar item-start>
            <img src="{{item.bank_logo}}" alt="bank logo">
          </ion-avatar>
          <h1 class="bank-name">{{item.bank}}</h1>
          <ion-note>{{item.created_at | date}} {{item.created_at | date: 'shortTime'}}</ion-note>
        </ion-item>
        <hr>

        <div padding>
          <p class="card-number">
            <strong>A/c No:</strong> {{item.ac_no}}</p>
          <p class="card-number">
            <strong>IFSC:</strong> {{item.ifsc}}</p>
        </div>
      </div>
    </ion-card>
  </div>


</ion-content>