<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>Credential</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-item>
    <ion-avatar item-start *ngIf="passwordData.logo">
      <img src="{{passwordData.logo}}" alt="provider">
    </ion-avatar>
    <h1 *ngIf="passwordData.provider">
      <strong>{{passwordData.provider}}</strong>
    </h1>
    <ion-note *ngIf="passwordData.created_at == passwordData.updated_at">{{passwordData.created_at | date}} {{passwordData.created_at | date:'shortTime'}}</ion-note>
    <ion-note *ngIf="passwordData.created_at != passwordData.updated_at">{{passwordData.updated_at | date}} {{passwordData.created_at | date:'shortTime'}}</ion-note>
  </ion-item>

  <ion-item *ngIf="passwordData.username">
    <h2 class="main-head-h2">
      Username
    </h2>
    <p>{{passwordData.username}}</p>
  </ion-item>

  <ion-item *ngIf="passwordData.email">
    <h2 class="main-head-h2">
      Email
    </h2>
    <p>{{passwordData.email}}</p>
  </ion-item>

  <ion-item *ngIf="passwordData.password">
    <h2 class="main-head-h2">
      Password
    </h2>
    <p *ngIf="!isShowPass">**********</p>
    <p *ngIf="isShowPass">{{passwordData.password}}</p>
    <button item-end ion-button icon-only clear (click)="showPassword()">
      <ion-icon *ngIf="!isShowPass" name="md-eye-off"></ion-icon>
      <ion-icon *ngIf="isShowPass" name="md-eye"></ion-icon>
    </button>
  </ion-item>

  <ion-item *ngIf="passwordData.url">
    <h2 class="main-head-h2">
      Website
    </h2>
    <p>{{passwordData.url}}</p>
  </ion-item>

  <ion-item *ngIf="passwordData.description">
    <h2 class="main-head-h2">
      Description
    </h2>
    <p text-wrap> {{passwordData.description}} </p>
  </ion-item>

</ion-content>