<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>Credential</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-item>
    <ion-avatar item-start>
      <img src="https://png.icons8.com/flat_round/1600/error.png" alt="provider">
    </ion-avatar>
    <h1><strong>Provider Name</strong> </h1>
  </ion-item>

  <ion-item>
    <h2 class="main-head-h2">
      Username
    </h2>
    <p>Arjun Pai</p>
  </ion-item>

  <ion-item>
    <h2 class="main-head-h2">
      Email
    </h2>
    <p>arjun@gmail.com</p>
  </ion-item>

  <ion-item>
    <h2 class="main-head-h2">
      Password
    </h2>
    <p *ngIf="!isShowPass">******</p>
    <p *ngIf="isShowPass">Qwe123rty</p>
    <button item-end ion-button icon-only clear (click)="showPassword()">
      <ion-icon *ngIf="!isShowPass" name="md-eye-off"></ion-icon>
      <ion-icon *ngIf="isShowPass" name="md-eye"></ion-icon>
    </button>
  </ion-item>

  <ion-item>
    <h2 class="main-head-h2">
      Website
    </h2>
    <p>https://itworms.wordpress.org</p>
  </ion-item>

  <ion-item>
    <h2 class="main-head-h2">
      Description
    </h2>
    <p text-wrap> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde tempore facilis autem suscipit accusamus dolorem sint
      libero consectetur vero quidem aut aliquam atque, expedita ipsa soluta aperiam obcaecati itaque iste. </p>
  </ion-item>

</ion-content>