<ion-header no-border>
  <ion-navbar transparent>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-navbar>
  <ion-item>
    <h1>
      <strong>Passwords</strong>
    </h1>
    <p *ngIf="!isPresent">No entries found</p>
    <p *ngIf="isPresent">{{passwordData.length}} entries found</p>
    <button color="dark" ion-button item-end icon-only clear (click)="addCredetial()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-item>
</ion-header>


<ion-content>

  <div *ngIf="!isPresent" padding text-center class="error-state">
    <h3> No credentials found</h3>
    <p class="error-state-p">Start adding new credentials</p>
    <ion-item text-center>
      <button (click)="addCredetial()" class="button-add-pass" ion-button round>Let's start adding</button>
    </ion-item>
  </div>


  <div *ngIf="isPresent">
    <ion-list *ngFor="let item of passwordData; let i=index">
      <div>
        <ion-item-sliding>

          <ion-item (press)="presentActionSheet(item.id, item)" (click)="goToViewPasswordPage(item)">
            <ion-avatar item-start>
              <img src="{{item.logo}}" alt="provider">
            </ion-avatar>
            <h2>{{item.provider}}</h2>
            <p>{{item.email}}</p>
            <ion-note item-end>{{item.created_at | date}}</ion-note>
            <ion-note>Slide right to view</ion-note>
          </ion-item>

          <ion-item-options side="right">
            <button class="slide-button" ion-button (click)="viewPassword(i)">
              <ion-icon name="md-eye"></ion-icon>
              View
            </button>
          </ion-item-options>

        </ion-item-sliding>
      </div>
    </ion-list>
  </div>

</ion-content>