page-add-card {
    // .add-card-btn {
    //     background: linear-gradient(to bottom right, #5c2774, #335cc5, #637ffd);
    //     font-size: 15px;
    //     width: 150px;
    // }
    .item-md .item-button {
        height: 40px;
    }
    .provider {
        width: 42px;
        height: 41px;
        margin-top: 24px;
    }
}