page-add-password {
    .item-md .item-button {
        height: 40px;
    }
    .pass-strength-green {
        width: 17px;
        margin-top: 24px;
        height: 17px;
        background: rgb(19, 163, 19);
        border-radius: 50%;
    }
    .pass-strength-red {
        width: 17px;
        margin-top: 24px;
        height: 17px;
        background: red;
        border-radius: 50%;
    }
    .pass-strength-orange {
        width: 17px;
        margin-top: 24px;
        height: 17px;
        background: orange;
        border-radius: 50%;
    }
    .show-hide {
        margin-top: 9px;
    }
}