<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>Add Credential</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="addNewPassword()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-item>
    <ion-avatar item-start>
      <img src="{{passwordData.logo}}" alt="provider">
    </ion-avatar>
    <ion-input type="text" placeholder="Enter provider name eg: gmail" [(ngModel)]="passwordData.provider" (ionChange)="setLogo($event)"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>
      Username
    </ion-label>
    <ion-input type="text" [(ngModel)]="passwordData.username" placeholder="enter username">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>
      Email
    </ion-label>
    <ion-input type="email" [(ngModel)]="passwordData.email" placeholder="xyz@mail.com">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>
      Password
    </ion-label>
    <ion-input type="{{type}}" [(ngModel)]="passwordData.password" (ionChange)="checkPassStrength($event)" placeholder="Enter password">
    </ion-input>
    <button item-end class="pass-strength-green" *ngIf="passwordData.strength == 'strong'"> </button>
    <button item-end class="pass-strength-red" *ngIf="passwordData.strength == 'week'"> </button>
    <button item-end class="pass-strength-orange" *ngIf="passwordData.strength == 'good'"> </button>

    <button item-end ion-button color="dark" icon-only clear (click)="showPin()">
      <ion-icon class="show-hide" *ngIf="!visible" name="md-eye-off"></ion-icon>
      <ion-icon class="show-hide" *ngIf="visible" name="md-eye"></ion-icon>
    </button>
  </ion-item>

  <ion-item>
    <ion-label stacked>
      Website
    </ion-label>
    <ion-input type="url" [(ngModel)]="passwordData.url" placeholder="Enter url">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>
      Description
    </ion-label>
    <ion-textarea type="text" [(ngModel)]="passwordData.description" placeholder="Enter brief description">
    </ion-textarea>
  </ion-item>

</ion-content>