page-add-password {
    .button-md {
        background: linear-gradient(to bottom right, #5c2774, #335cc5, #637ffd);
        width: 150px;
    }
    .item-md .item-button {
        height: 40px;
    }
}