<ion-header no-border>
  <ion-navbar transparent>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-navbar>
  <ion-item>
    <h1>
      <strong>Cards</strong>
    </h1>
    <p>12 entries found</p>
    <button color="dark" ion-button item-end icon-only clear (click)="goToaddCardPage()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-item>
</ion-header>


<ion-content>

  <div *ngIf="!isPresent" padding text-center class="error-state">
    <h3> You have not added any card</h3>
    <p class="error-state-p">Start adding new card details</p>
    <ion-item text-center>
      <button (click)="goToaddCardPage()" class="button-add-pass" ion-button round>Let's start adding</button>
    </ion-item>
  </div>


  <div *ngIf="isPresent">
  <ion-card class="card-class" *ngFor="let item of cardData; let i=index">
    <div (click)="viewCard(item)" (press)="presentActionSheet(item.id, item)">
      <ion-item class="card-item">
        <ion-avatar item-start>
          <img src="{{item.bank_logo}}" alt="bank logo">
        </ion-avatar>
        <h1 class="bank-name">{{item.bank}}</h1>
        <ion-note>{{item.created_at | date}} {{item.created_at | date:'shortTime'}}</ion-note>
      </ion-item>

      <div text-center>
        <p class="card-number">{{item.card_no}}</p>
      </div>

      <div>
        <ion-row>
          <ion-col col-10>
            <h3 class="card-title">{{item.card_type}}</h3>
          </ion-col>
          <ion-col>
            <img src="{{item.provider_logo}}" alt="provider-logo">
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-card>
  </div>

</ion-content>