page-setting {
    .item-md ion-avatar img {
        height: 70px;
        width: 70px;
    }
    .item-md h2 {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 6px;
    }
    .item-md h3 {
        font-weight: 600;
        margin-top: 3px;
    }
    .account-div {
        margin-top: 15px;
    }
}