page-setting {
    .item-md ion-avatar img {
        height: 70px;
        width: 70px;
    }
    .item-md h2 {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 6px;
    }
    .account-div {
        margin-top: 15px;
    }
    .button-outline-md {
        // border-color: linear-gradient(to bottom right, #5c2774, #335cc5, #637ffd);
    }
}