<ion-header no-border>
  <ion-navbar transparent>
    <ion-title></ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear (click)="signout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-avatar item-end (press)="setProfilePhoto()" (click)="viewProfilePhoto()">
      <img src="{{profilePhoto}}">
    </ion-avatar>
    <h1>{{userName}}
      <span>
        <ion-icon name="ios-create-outline" (click)="setUsername()"></ion-icon>
      </span>
    </h1>
    <p>Logged at {{loggedAt | date}} {{loggedAt | date:'shortTime'}}</p>
  </ion-item>

  <div class="account-div">
    <ion-item>
      <ion-icon name="md-call" item-start></ion-icon>
      <h2>Phone</h2>
      <p>{{phone}}</p>
      <ion-icon name="ios-arrow-dropright" (click)="setPhone()" item-end></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name="md-mail" item-start></ion-icon>
      <h2>Email</h2>
      <p *ngIf="!email" >Set your email address</p>
      <p *ngIf="email">{{email}}</p>
      <ion-icon name="ios-arrow-dropright" (click)="setEmail()" item-end></ion-icon>
    </ion-item>

    <hr>
  </div>

  <div>
    <ion-item>
      <ion-icon name="md-key" item-start></ion-icon>
      <h3>Do you want to reset your PIN?</h3>
      <ion-icon name="ios-arrow-dropright" (click)="resetPIN()" item-end></ion-icon>
    </ion-item>
  </div>
</ion-content>