<ion-header no-border>
  <ion-navbar transparent>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-navbar>
  <ion-item>
    <h1>
      <strong>Notes</strong>
    </h1>
    <p *ngIf="!isPresent">No entries found</p>
    <p *ngIf="isPresent">{{notesData.length}} entries found</p>
    <button color="dark" ion-button item-end icon-only clear (click)="goToAddNotePage()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-item>
</ion-header>


<ion-content>
  <div *ngIf="!isPresent" padding text-center class="error-state">
    <h3> Found not secrate notes</h3>
    <p class="error-state-p">Start adding new notes and keep secrately</p>
    <ion-item text-center>
      <button (click)="goToAddNotePage()" class="button-add-pass" ion-button round>Let's start adding</button>
    </ion-item>
  </div>

  <div *ngIf="isPresent">
    <ion-card class="card-class" *ngFor="let item of notesData;let i=index">
      <div (click)="goToViewNotePage(item)" (press)="presentActionSheet(item.id, item)">
        <ion-item>
          <h1 class="bank-name">{{item.title}}</h1>
          <ion-note>{{item.created_at | date}} {{item.created_at | date:'shortTime'}}</ion-note>
        </ion-item>
        <div padding text-justify>
          <p class="card-number">{{item.description}}</p>
        </div>
      </div>
    </ion-card>
  </div>

</ion-content>