.notification-alert {
    top: 5px;
    right: 12px;
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #f92c2c;
    border: solid white 3px;
}

.item-md.item-block .item-inner{
    border-bottom: none;
}