page-signup {
    h1 {
        font-weight: 1000;
    }
    h5 {
        font-weight: 400;
    }
    .item-md .item-button {
        width: 150px;
        height: 30px;
        font-size: 1.5rem;
    }
    .button-md {
        background: linear-gradient(to bottom right, #5c2774,#335cc5,#637ffd);
    }
}