<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>Edit Card</ion-title>
    <ion-buttons end>
      <button class="add-card-btn" ion-button clear (click)="editCardDetail()">
        Save
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-item>
    <ion-avatar item-start>
      <img src="{{cardData.bank_logo}}" alt="provider">
    </ion-avatar>
    <h1 *ngIf="cardData.bank">
      <strong>{{cardData.bank}}</strong>
    </h1>
  </ion-item>

  <ion-item class="time-stamp">
    <ion-note>
      {{cardData.created_at | date}} {{cardData.created_at | date:'shortTime'}}
    </ion-note>
  </ion-item>

  <ion-item>
    <ion-label stacked>
      Card No
    </ion-label>
    <ion-input type="tel" placeholder="Enter Valid Digit Card No" (ionChange)="detectCardType($event)" [(ngModel)]="cardData.card_no">
    </ion-input>
    <!-- <div item-end class="provider-logo" *ngIf="cardData.provider_logo">
      <img src="{{cardData.provider_logo}}" alt="provider_logo">
    </div> -->
  </ion-item>

  <ion-item>
    <ion-label>Card Type</ion-label>
    <ion-select [(ngModel)]="cardData.card_type">
      <ion-option value="Debit Card">Debit Card</ion-option>
      <ion-option value="Credit Card">Credit Card</ion-option>
      <ion-option value="Other Type">Other Type</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Expire Date</ion-label>
    <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY"  max="2050-12-31" [(ngModel)]="cardData.expire_at"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label stacked>
      CVV
    </ion-label>
    <ion-input type="tel" placeholder="Enter 3 digit cvv" [(ngModel)]="cardData.cvv">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>
      PIN
    </ion-label>
    <ion-input type="{{type}}" placeholder="Enter PIN" [(ngModel)]="cardData.pin">
    </ion-input>
    <button item-end ion-button icon-only clear (click)="showPin()">
      <ion-icon *ngIf="!visible" name="md-eye-off"></ion-icon>
      <ion-icon *ngIf="visible" name="md-eye"></ion-icon>
    </button>
  </ion-item>

  <ion-item>
    <ion-label stacked>
      Phone No
    </ion-label>
    <ion-input type="tel" placeholder="Enter registered mobile no" [(ngModel)]="cardData.phone">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>
      Email
    </ion-label>
    <ion-input type="email" placeholder="xyz@mail.com" [(ngModel)]="cardData.email">
    </ion-input>
  </ion-item>


  <ion-item>
    <ion-label>Card Type</ion-label>
    <ion-select [(ngModel)]="cardData.service_provider" (ionChange)="setProviderLogo()">
      <ion-option value="rupay">Rupay</ion-option>
      <ion-option value="mastercard">Mastercard</ion-option>
      <ion-option value="mastero">Mastero</ion-option>
      <ion-option value="visa">Visa</ion-option>
      <ion-option value="americanexpress">American Express</ion-option>
    </ion-select>
  </ion-item>

</ion-content>