page-edit-card {
    .add-card-btn {
        background: linear-gradient(to bottom right, #5c2774, #335cc5, #637ffd);
        font-size: 15px;
        width: 150px;
    }
    .item-md .item-button {
        height: 40px;
    }
}