<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>Edit Credential</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="updatePasswordDetails()">
        Save
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-item>
    <ion-avatar item-start *ngIf="passwordData.logo">
      <img src="{{passwordData.logo}}" alt="provider">
    </ion-avatar>
    <h1 *ngIf="passwordData.provider">
      <strong>{{passwordData.provider}}</strong>
    </h1>
    <ion-note *ngIf="passwordData.created_at == passwordData.updated_at">{{passwordData.created_at | date}} {{passwordData.created_at | date:'shortTime'}}</ion-note>
    <ion-note *ngIf="passwordData.created_at != passwordData.updated_at">{{passwordData.updated_at | date}} {{passwordData.created_at | date:'shortTime'}}</ion-note>
  </ion-item>

    <!-- <ion-item class="time-stamp">
      <ion-note *ngIf="passwordData.created_at == passwordData.updated_at">{{passwordData.created_at | date}} {{passwordData.created_at | date:'shortTime'}}</ion-note>
      <ion-note *ngIf="passwordData.created_at != passwordData.updated_at">{{passwordData.updated_at | date}} {{passwordData.created_at | date:'shortTime'}}</ion-note>
    </ion-item> -->

  <ion-item>
    <ion-label stacked>
      Username
    </ion-label>
    <ion-input type="text" placeholder="enter username" [(ngModel)]="passwordData.username">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>
      Email
    </ion-label>
    <ion-input type="email" placeholder="xyz@mail.com" [(ngModel)]="passwordData.email">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>
      Password
    </ion-label>
    <ion-input type="password" placeholder="Enter password" [(ngModel)]="passwordData.password">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>
      Website
    </ion-label>
    <ion-input type="url" placeholder="Enter url" [(ngModel)]="passwordData.url">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>
      Description
    </ion-label>
    <ion-textarea type="text" placeholder="Enter brief description" [(ngModel)]="passwordData.description">
    </ion-textarea>
  </ion-item>

</ion-content>